.loading_bar_1 {
  height: 40px;
  width: 40px;
  height: 100%;
  width: 100%;
  background: transparent url(../images/ajax-loader-1.gif) no-repeat 50% 50%;
}

.loading_bar_inline{
  display: inline;
  margin-left: 10px;
}

.loading_bar_body {
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background: url(../images/ajax-loader-2.gif) no-repeat 50% 50%;
}