body {
  background-color:#f3f3f3;
  color:#000000;
  font-family: "Tahoma", Arial, Helvetica, sans-serif;
  font-size:medium;
  font-style:normal;
  font-weight:normal;
  line-height:normal;
  letter-spacing:normal;
  height: 100%;
}
h1,h2,h3,h4,h5 {
  font-family: "Georgia", "Times New Roman", "Times", serif;
}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,form,table,img, button {
  margin:0;
  padding:0;
}
.hidden{
  display:none;
}
.clearline{
  height:1px;
  width: 100%;
  clear:both;
  line-height:1px;
}

h1{
  color:#282322;
  margin-bottom:20px;
}

label{
  font-weight:bolder;
  color:#777;
}

ul,ol,dl {
  list-style:none;
  padding-left:6px;
  padding-top:6px;
}
li {
  padding-bottom:6px;
}

#conteneur, #header {
  width:964px;
  margin:0 auto 0 auto;
  font-size:0.8em;
}

#header {
  padding-top:10px;
}

#conteneur{
  margin-top:12px;
  background-color:#FFFFFF;
  color:#000000;
  border:1px solid #e6e6e6;
  font-size:0.8em;
  padding:10px;
}


#conteneur button{
  font-size: 13px;
  color: white;
  font-weight: bolder;
  padding: 0 10px 0 10px;
  border: 0;
  height: 27px;
  line-height: 26px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  display: block;
  cursor: pointer;
  background-color: transparent;
  font-family: "Arial", "Verdana", "sans-serif";
  background-color: #00afe9;
  float: left; 
}
#conteneur button:hover {
  -moz-box-shadow: 0 1px 0 #d6d6d6;
  -webkit-box-shadow: 0 1px 0 #d6d6d6;
  box-shadow: 0 1px 0 #d6d6d6; 
  background-color: #00b7f4;
}


#conteneur button:disabled{
  color:#eee;
  background:#4fd3ff;
}

#conteneur #btn-body-loader{
  float: right;
}


.nimble-loader{
  width:300px;
  height:250px;
  border:1px solid #e6e6e6;
  margin-bottom:10px;
  overflow:auto;
}

.nimble-loader-inline{
  width: 10px;
  height: 10px;
}

.container-loader{
  width:300px;
  float:left;
}

.container-loader button{
  float:left;
  margin-right: 10px;
}

#counter-span{
  display:block;
  width:100%;
  color:#34383e;
  font-weight:bolder;
  font-size:100px;
  text-align:center;
}

.inline-example{
  height: 40px;
  margin-top: 100px;
  float: right;
  padding-left:20px;
}

#loader2{
  margin: 0 31px
}

#loader2 #wiki-search{
  width:60px;
}

#loader2 button, #loader3 button{
  float: right;
  margin-right: 0;
}

#loader5 .perform-loading{
  display: none;
}